//@import url(http://fonts.googleapis.com/css?family=Montserrat|Raleway);

@font-face {
  font-family: 'FF_DIN';
  src: url('../fonts/FF_DIN_FONT_FAMILY/DIN Light.ttf');
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville.ttf');
}

//@import "../less/theme.less";
//@import "jumbotron.css";
@import "../less/bootstrap.less";
@import "bootstrap-navbar-transparent.less";
@import "prism.css";
@import "chosen.css";
@import "chosen-bootstrap.css";
@import "flags.css";
@import "wysiwyg.css";
@import "fullcalendar.css";

//@import "styleChosen.css";

body {

  background-color: lighten(@gray, 65%);

    .fixnavbar {
        margin-top: 50px;
    }
    
    .imagefit {
        max-width:100%;
        height: auto;
    }

    section.landing {

        background: url("../img/cielo-estrellado.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 6em 0 10em 0;
        min-height: 50em;
        text-align: left;
        /*background-image: url("../img/cielo-estrellado.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 0em 0 10em 0;*/
        /*background-image: url("../img/1-1232109440vZAR.jpg");
        background-repeat: no-repeat;
        background-size:100%;*/
        //#gradient > .radial(lighten(@link-color,20%), darken(@link-color,5%));

        h1 {
            //color: spin(@link-color, 90);
            //color: spin(@link-color, -15%);
            //color: darken(@link-color, 5%);
            color: @gray-dark; //#fff
            text-shadow: 3px 3px 2px rgba(0,0,0,0.3);
            font-size: 8em;

            strong {
                //background-color: @link-color;
                #translucent > .background(@link-color,0.8);
                font-size: 3em;
            }
            span {
                opacity: 50;
                #translucent > .background(@link-color,0.8);
                //background-color: @link-color;
                font-size: 1.1em;
            }
        }

        h2 {
            //color: spin(@link-color, 90);
            //color: spin(@link-color, -10%);
            //color: darken(@link-color, 5%);
            color: #fff;
            text-shadow: 3px 3px 2px rgba(0,0,0,0.3);
            font-size: 1.9em;

            strong {
                #translucent > .background(@link-color,0.8);
                //background-color: @link-color;
                font-size: 1.5em;
                a {
                    color: rgb(0,0,0);
                }
            }
        }

        .navbar.transparent.navbar-inverse .navbar-inner {
           background: rgba(0,0,0,0.4);
        }

    }

    section.grey {

        background-color: lighten(@gray, 60%);

    }

    .magari {

        padding: 0.8em;
        #gradient > .radial(@link-color, darken(@link-color,5%));
        //background-color: darken(@link-color, 10%);
        border-color: darken(@link-color, 40%);
        font-size: 30px;

    }

    .forze {

        background-color: @gray-lighter;
        //#gradient > .radial(#fff, @gray-lighter);
        padding: 0.8em;
        font-size: 30px;

    }

    .padding {
        padding: 8em 0;

        form {
            display: block;
        }
    }
    .theme {
        background-color: lighten(@link-color, 60%);
    }

    .theme2 {
        background-color: lighten(@gray-dark, 10%);
        color: #fff;
    }
    footer.padding {

        #gradient > .vertical(@gray-darker, @gray-dark);
        color: #fff;
        padding: 1em 0;
    }
    //padding-top: 70px;
    .text-big {
                font-size: 400px;
                line-height: 320px;
    }

    .text-small {
                font-size: 12px;
                font-family: "Montserrat";
                padding: 3px 0;
                margin-left: 1em;
                //line-height: 160px;
    }

    .ressset {
        margin-bottom: 0px;
    }

    .home_welcome {
        padding: 3em 0;
    }

    .small_padding {
        padding: 2em 0;
    }
    
    .small_margin {
        margin: 1em 20em;
    }

    .small_padding_tittles {
        padding: 2px 0;
    }

}

.text1landing h2 {
  font-size: 1.5em;
  width: 280px;
  min-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom:20px;
  border-bottom: 2px solid;
}

.text2landing h2 {
  font-size: 1.5em;
  width: 220px;
  min-width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom:20px;
  border-bottom: 2px solid;
}

/* Escritorio */  
@media (min-width: 980px) {
    /*body{color: black;}*/


.text1landing {
  background-color: lighten(@link-color, 25%); //rgb(170,213,240);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 3em 7em 3em 7em;
}

.text2landing {
  background-color: rgb(255,255,255);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 3em 7em 3em 7em;
}

}
/* Escritorio pequeño o una tablet horizontal */
@media (min-width: 768px) and (max-width: 979px) {
    /*body{color: red;}*/

.text1landing {
  background-color: lighten(@link-color, 25%); //rgb(170,213,240);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 3em 6em 3em 6em;
}

.text2landing {
  background-color: rgb(255,255,255);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 3em 6em 3em 6em;
}

}
/* tablet vertical o smartphone horizontal */
@media (max-width: 767px) {
  /*body{color: green;}*/
.text1landing {
  background-color: lighten(@link-color, 25%); //rgb(170,213,240);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 2em 4em 2em 4em;
}

.text2landing {
  background-color: rgb(255,255,255);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 2em 4em 2em 4em;
}
}
/* Smartphone */
    @media (max-width: 480px) {

 .text1landing {
  background-color: lighten(@link-color, 25%); //rgb(170,213,240);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 1em 1em 1em 1em;
}

.text2landing {
  background-color: rgb(255,255,255);
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: -1px;
  font-size: 1.8em;
  padding: 1em 1em 1em 1em;
}
}

body .user_pic {
  width: 50px;
  height: 50px;
}

body .user_pic_home {
  height: auto;
    width: 150px;
}

body .user_pic_contacts {
  height: auto;
  max-height: 200px;
  width: 200px;
}

.popover{
    width:400px;
    height:auto;    
}


/*Image loading Style ------------------------------------------------------------------------*/
div#profile_pic_box {
  float: right;
  width: 200px;
  height: 200px;
  margin: 20px 30px 0px 0px;
  overflow-y: hidden;
}

div#profile_pic_box > img {
  z-index: 2000;
  width: 200px;
  height: auto;
}

div#profile_pic_box > a#imageBtn {
  display: none;
  position: absolute;
  margin: 140px 0px 0px 120px;
  z-index: 4000;
  background: lighten(@link-color, 15%);
  border: @link-color 1px solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  text-decoration: none;
  color: darken(@link-color, 10%);
}

div#profile_pic_box > form {
  display: none;
  position: absolute;
  z-index: 3000;
  padding: 10px;
  opacity: .8;
  background: lighten(@link-color, 15%);
  width: 200px;
  height: 200px;
}

div#profile_pic_box:hover a#imageBtn {
  display: block;
}

/*Image loading Style IDEAAAAAAAAAAAAAAAA--------------------------------------------------------------------*/
div#idea_pic_box {
  margin: 20px 30px 0px 0px;
  overflow-y: hidden;
  width: 100%;
  padding: 15px;
}

div#idea_pic_box > img {
  z-index: 2000;
  width: 100%;
}

div#idea_pic_box > a#ideaimageBtn {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 0px;
  z-index: 4000;
  background: lighten(@link-color, 15%);
  border: @link-color 1px solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  text-decoration: none;
  color: darken(@link-color, 10%);
}

div#idea_pic_box > form {
  display: none;
  position: absolute;
  z-index: 3000;
  padding: 10px;
  opacity: .8;
  background: lighten(@link-color, 15%);
  width: 91%;
  height: 35%;
}

div#idea_pic_box:hover a#ideaimageBtn {
  display: block;
}

#avatar_form {
  width: 100%;
  text-align: center;
}

/*Image loading Style IDEAAAAAAAAAAAAAAAA Formulariiiiiiiiiiiiii--------------------------------------------------------------------*/
div#idea_pic_box_form {
  margin: 20px 30px 0px 0px;
  overflow-y: hidden;
  width: 100%;
  padding: 15px;
}

div#idea_pic_box_form > img {
  z-index: 2000;
  width: 35%;
}

div#idea_pic_box_form > a#ideaimageBtn {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 0px;
  z-index: 4000;
  background: lighten(@link-color, 15%);
  border: @link-color 1px solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  text-decoration: none;
  color: darken(@link-color, 10%);
}

div#idea_pic_box_form > #avatar_form_add {
  display: none;
  position: absolute;
  z-index: 3000;
  padding: 10px;
  opacity: .8;
  background: lighten(@link-color, 15%);
  width: 91%;
  height: 35%;
}

div#idea_pic_box_form:hover a#ideaimageBtn {
  display: block;
}

/*-----------------------------------------------------------------------*/
img.friendpics {
  border: #000 1px solid;
  width: 40px;
  height: 40px;
  margin: 2px;
}




/*Conversation Style */
textarea#statustext {
  padding: 1em;
  width: 100%;
  height: 80px;
  padding: 8px;
  border: #999 1px solid;
  font-size: 16px;
}

div.status_boxes {
  background-color: lighten(@gray, 50%);
  margin-bottom: 2px;
  padding: 3px;
  margin-top: 10px;
}

/* ----------------------------------------*/
.replytextGroup {
  width: 100%;
  margin-top: 10px;
}

div.reply_boxes {
  background-color: lighten(@gray, 60%);
  margin-bottom: 2px;
  padding: 3px;
}

.reply_button {
  margin-bottom: 15px;
  margin-top: 5px;
}

/* ----------------------------------------- */

.small-margin {
  margin: 5px 5px 5px 5px;
}

.ratings {
            /*border:     1px solid #CCC;*/
            overflow:   visible;
            padding:    10px;
            position:   relative;
            width:      180px;
            height:     100px;
        }
.ratings_stars {
            background: url('../img/star_blank.png') no-repeat;
            float:      left;
            height:     28px;
            padding:    2px;
            width:      32px;
        }
.ratings_vote {
            background: url('../img/star_voted.png') no-repeat;
        }
.ratings_over {
            background: url('../img/star_overs.png') no-repeat;
        }
    
.total_votes {   
    top: 45px;  
    left: 10;  
    padding: 0px;  
    position: absolute;  
}  
.product{  
    font-size: 14px;  
    margin: 0 auto 0px auto;  
    width: 180px; 
    height: 120px; 
} 

.ratings_general {
            /*border:     1px solid #CCC;*/
            overflow:   visible;
            padding:    1px;
            position:   relative;
            width:      180px;
            height:     auto;
        }

.product_general {  
    font-size: 14px;  
    margin: 0 auto 0px auto;  
    width: 180px; 
    height: auto;
} 

div.pm_wrap {
  border: 1px solid #333;
  margin-bottom: 5px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
div.pm_header {
  background-color: #CCC;
  padding-left: 20px;
}
div.pm_post {
  margin-top: 10px;
  padding-left: 20px;
}

#dropdown1:hover #searchfilt {
    display: block;
 }

 #searchfilt {
  width: auto; 
}

#dropdown2:hover #dropdown2-menu {
    display: block;
 }

 #dropdown2-menu {
  width: auto; 
}

#dropdown6-menu:hover {
    display: block;
 }
 
 #dropdown6-menu {
  width: 350px; 
}

#dropdown7-menu:hover {
    display: block;
 }
 
 #dropdown7-menu {
  width: 280px; 
}

#dropdown4-menu:hover {
    display: block;
 }
 
 #dropdown4-menu {
  width: 500px; 
}

#dropdown5:hover #dropdown5-menu {
    display: block;
 }

 #dropdown5-menu {
  width: auto; 
}

.media-object {
  width: 50px;
  height: 50px;
}

div.postsHead {
  font-size: 12px;
}

div.postsData {
  font-size: 14px;
}


/* Fix  width bug */
.chosen-container, .chosen-drop, .chosen-drop .chosen-search, .chosen-drop {
  width: 100% !important;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Input Box has to be slightly smaller, don't know why and I don't care. */
.chosen-search input {
    width: 100% !important;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/* Override width of the whole thing */
.chosen-container { width:100% !important; }

/*Edit name Style ------------------------------------------*/
div.edit_form {
  overflow-y: hidden;
  z-index: 2000;
}

div.edit_form > a.btn_edit {
  display: none;
  position: absolute;
  margin: 0px 0px 0px 0px;
  z-index: 4000;
  background: lighten(@link-color, 15%);
  border: @link-color 1px solid;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  text-decoration: none;
  color: darken(@link-color, 15%);
}

div.edit_form > div.edi_form {
  display: none;
  /*position: absolute;*/
  margin: 0px 0px 0px 0px;
  z-index: 3000;
  padding: 10px;
  opacity: .8;
  background: lighten(@link-color, 15%);
}

div.edit_form:hover > a.btn_edit {
  display: block;
}

/*/////////////////////////////////////////////*/

.abajo{
  
}

#pad{
    position:relative;
    width: 374px;
    margin: 00px auto 40px;
}

#note{
    font: normal 15px 'Courgette', cursive;
    line-height: 17px;
    color:#444;
    background: url('../img/mid.png') repeat-y;
    display: block;
    border: none;
    width: 374px;
    min-height: 170px;
    overflow: hidden;
    resize: none;
    outline: 0px;
    padding: 0 10px 0 35px;
}

#pad h2{
    background: url('../img/header.png') no-repeat;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    text-indent: -9999px;
    height: 69px;
    position: relative;
}

#pad:after{
    position:absolute;
    content:'';
    background:url('../img/footer.png') no-repeat;
    width:100%;
    height:40px;
}

.dropdown-menu {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.image_modal {
  width: 100%;
  height: auto;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
    color: rgb(255,255,255);
    display: none; /* ensures it’s invisible until it’s called */
    position: fixed; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 30%; /* positions the div half way horizontally */
    top: 15%; /* positions the div half way vertically */
    width: 40%;
    height: auto;
    padding: 15px; 
    /*border: 0px solid black;*/
    /*background-color: rgba(255,255,255,0.85);*/
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.2);*/
    border-radius: 5px;
}

.overlay legend {
  color: rgb(255,255,255);
}

#terms {
  color: rgb(255,255,255);
}

#fade {
    display: none;  /* ensures it’s invisible until it’s called */
    position: fixed;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

h6 .media a {
  text-decoration: none;
}

.divlateral {
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
}

.minim {
    min-height: 1000px;
}

.minim_ideas {
    min-height: 856px;
}


#forgot_pass_button {
  font-size: 1.2em;
  color: rgb(255,255,255);
  text-decoration: none;
}

#status {
  text-align: center;
  font-size: 1.5em;
}

#wrapregistform {
  min-height: 122px;
}

.brandstyle {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: rgb(255,255,255);
  letter-spacing: 0px;
  font-size: 5.5em;
  text-align: center;
  line-height: 120%;
}

.line {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid;
  width: 115px;
  margin-left: auto;
  margin-right: auto;
}

.under_brand {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: rgb(255,255,255);
  letter-spacing: 0px;
  font-size: 5.5em;
  text-align: center;
  line-height: 120%;
  padding-left: 10px;
}

.welcome_sentence {
  color: rgb(255,255,255);
  font-size: 2.5em;
  font-family: 'Baskerville';
  /*position: relative;*/
  /*left: 35%; /* positions the div half way horizontally */
  /*top: 5%; /* positions the div half way vertically */
  /*width: 30%;
  height: auto;*/
  text-align: center;
  padding: 2em 0 2em 0;
}

#wrapfromulario {
  text-align: center;
  width: 30%;
  min-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9em;
}

#fade_small {
    display: none;  
    position: fixed;  
    background-color: rgba(0,0,0,0.9);
    top: 5%; /* makes the div span all the way across the viewing area */
    height: 90%;
    left: 35%;
    width: 30%;
    min-width: 250px;
    z-index: 90;
}

/*#fade {
    display: none;  
    position: fixed;  
    left: 0%; 
    top: 0%; 
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 90; 
}*/

.overlay_register {
    color: rgb(255,255,255);
    display: none; 
    position: fixed; 
    top: 0%; /* positions the div half way vertically */
    left: 40%;
    width: 20%;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
    padding-top: 6em;
    /*padding: 15px; 
    border: 0px solid black;*/
    /*background-color: rgba(255,255,255,0.85);*/
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.2);*/
    
}

.welcome_sentence_space {
  color: rgb(255,255,255);
  font-size: 2.5em;
  /*position: relative;*/
  /*left: 35%; /* positions the div half way horizontally */
  /*top: 5%; /* positions the div half way vertically */
  /*width: 30%;
  height: auto;*/
  text-align: center;
  padding: 2.1em 0 2.1em 0;
  min-height: 4.2em;
}

#registerbtn {
  font-size: 1.5em;
  width: 98%;
}

#loginbtn{
  font-size: 1.5em;
  width: 98%;
}

#signupbtn {
  font-size: 1.5em;
  width: 98%;
}

.padding_footer {
  padding: 1em 0 0.5em 0;
}

#wrap_user_idea_details {
  a {
    text-decoration: none;
  }

  margin-bottom: 2px;
}

.ave_rating {
  text-align: center;
  font-size: 3em;
}

#status2 {
  color: rgb(255, 255, 255);
}

.retoques_mensajes {
  padding: 1px 3px 0px 3px;
}

.marques_miss {
  left: 80%

}

#wrapmessages {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.modal_messages_wrap {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.tou {
  color: rgb(255, 255, 255);
}

#answer_register {
  color: rgb(255, 255, 255);
}

#fade_legal {
    display: none;  
    position: fixed;  
    background-color: rgba(0,0,0,0.9);
    top: 5%; /* makes the div span all the way across the viewing area */
    height: 90%;
    left: 68%;
    width: 30%;
    min-width: 250px;
    z-index: 90;
}

.overlay_legal {
    color: rgb(255,255,255);
    display: none; 
    position: fixed; 
    top: 0%; /* positions the div half way vertically */
    left: 70%;
    width: 28%;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
    padding-top: 6em;
    /*padding: 15px; 
    border: 0px solid black;*/
    /*background-color: rgba(255,255,255,0.85);*/
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.2);*/
    
}

.margin_bottom {
  margin-bottom: 10px;
}

.wrap_graphs {
    width: 100%;
    height: 600px !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li {
  background-color: @link-color;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: @link-color;
}

.well { 
  background-color: #fff; 
}

.thumbnailr {
  width: 260px;
  height: 180px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 12px 12px -10px #c4c4c4;
  -webkit-box-shadow: 0 17px 22px -20px #c4c4c4;
  -moz-box-shadow: 0 12px 12px -10px #c4c4c4;
}

.thumbnailr img {
  width:100%; 
  height:auto; 
}
.thumbnails p {
  text-align: center;
  padding: 10px;
}

ul
{
    list-style-type: none;
}

.thesis_height {
  line-height: 3ex;
  height: 12ex; /* 2.5ex for each visible line */
  overflow: hidden;
}

.thesis_link a {
  text-decoration: none !important;
  color: rgb(0, 0, 0);
}

progress {  
   background-color: #f3f3f3;  
   border: 0;  
   height: 12px;  
   border-radius: 6px;  
}  
progress::-webkit-progress-bar {  
    background-color: #f3f3f3;  
    border: 0;  
    height: 12px;  
    border-radius: 6px;  
}  
progress::-webkit-progress-value {  
    background-color: @link-color;
    border-radius: 6px;  
}  
progress::-moz-progress-bar {  
    background-color: #f3f3f3;  
    border: 0;  
    height: 12px;  
    border-radius: 6px;
}

.tops_presentation  {

}

.flags_row {
  min-height: 50px;
}

.wrapper {
  /*margin: 50px auto;
  width: 280px;
  height: 370px;*/
  //background: white;
  border-radius: 10px;
  /*-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);*/
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}​

#alerts {
  position: fixed;  /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 65%; /* makes the div span all the way across the viewing area */
  top: 5%;
  width: 30%;
  height: 10%;
  z-index: 900;
}

.shadow_bottom_right {
  -moz-box-shadow-bottom: 20px 20px 5px black;
  -webkit-box-shadow-bottom: 20px 20px 5px black;
  box-shadow-bottom: 20px 20px 5px bl5ack;
}

#wrap_recommeded_ideas div.thumbnail img {
  overflow: hidden;
  border: 0;
  box-shadow: 0 12px 12px -10px #c4c4c4;
  -webkit-box-shadow: 0 17px 22px -20px #c4c4c4;
  -moz-box-shadow: 0 12px 12px -10px #c4c4c4;
  max-height: 180px;
  min-height: 180px;
  width: auto; 
  height: 180px;
}

.margin_ideas_details {
  margin-top: 57px;
}

#sketch_wrap{
    //position:relative;
    //width: 374px;
    //margin: 00px auto 40px;
}

#sketch{
    line-height: 17px;
    display: block;
    //border: none;
    //width: 374px;
    min-height: 100%;
    //overflow: hidden;
    //resize: none;
    outline: 0px;
    //padding: 0 10px 0 35px;
}

#sketch_wrap h2{
    /*background: url('../img/header.png') no-repeat;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    text-indent: -9999px;
    height: 69px;
    position: relative;*/
}

#sketch_wrap:after{
    /*position:absolute;
    content:'';
    background:url('../img/footer.png') no-repeat;
    width:100%;
    height:40px;*/
}

.border {
  border: 0px solid black;
}

.no_border_radius {
  border-radius: 0px !important;
}

.resset {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.resset > textarea {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

 #calendar {
  width: 100%;
  margin-top: 40px;
  //font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }

#sug_box {
  background-color: darken(@link-color, 5%);
  padding: 15px;
}

.margin_footer {
  margin-top: 50px;
}

.graded{
  #gradient > .vertical(@link-color, darken(@link-color, 15%));  
}

